<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- 测试用的 给sesion中添加已经登录用户 -->
	<listener>
		<listener-class>com.pds.test.servlet.PrepareDateForAppListener</listener-class>
	</listener>
	
		<!-- Spring 3.0的配置 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:applicationContext-*.xml</param-value>
	</context-param>
	
	<!-- Struts2的配置 -->
	<filter>
		<filter-name>struts</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
		</filter-class>
		
		<!-- packages that use annotations-->
		<init-param>
			<param-name>actionPackages</param-name>
			<param-value>com.pds.action.*</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>struts</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
  		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	<filter>    
        <filter-name>struts-cleanup</filter-name>    
        <filter-class>    
            org.apache.struts2.dispatcher.ActionContextCleanUp   
        </filter-class>    
    </filter> 
    	
    <filter-mapping>
    	<filter-name>struts-cleanup</filter-name>
		<url-pattern>/*</url-pattern>
    </filter-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- 配置404页面 -->
<!--	<error-page>-->
<!--		<error-code>404</error-code>-->
<!--		<location>/404.jsp</location>-->
<!--	</error-page>-->

</web-app>
